body {
  background-color: #f6f6f6 !important;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.full-height: {
  height: 100vh;
}

.paymentFormContainer {
  display: grid;
  grid-template-areas:
    "header header"
    "main sidebar";
  grid-template-rows: max-content;
  grid-template-columns: 1fr auto;
  height: 100vh;
}

.topbarForm {
  grid-area: header;
}

.leftForm {
  grid-area: main;
}

.rightForm {
  grid-area: sidebar;
}
